<a href="https://colab.research.google.com/github/Priyatham-sai-chand/Happiness/blob/master/hivemind1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **HiveMind Level : 1**

# Task 1

  **The world happiness
index dataset for 2015, 2016 and 2017**

Datasets source : [https://www.kaggle.com/unsdsn/world-happiness](https://www.kaggle.com/unsdsn/world-happiness)

Raw csv files source : [https://github.com/Priyatham-sai-chand/Happiness/tree/master](https://github.com/Priyatham-sai-chand/Happiness/tree/master)

In [1]:
#Packages
import pandas as pd
from pprint import pprint
import matplotlib.pyplot as plt
%matplotlib

Using matplotlib backend: agg

In [0]:

#URLs contaning the raw csv files
url_2015 = "https://raw.githubusercontent.com/Priyatham-sai-chand/Happiness/master/2015.csv"
url_2016 = "https://raw.githubusercontent.com/Priyatham-sai-chand/Happiness/master/2016.csv"
url_2017 = "https://raw.githubusercontent.com/Priyatham-sai-chand/Happiness/master/2017.csv"

#intialising dataframes with the URLs Content
df_2015 = pd.read_csv(url_2015)
df_2016 = pd.read_csv(url_2016)
df_2017 = pd.read_csv(url_2017)

# Question 1 

**Countries with a happiness score of less than 5.0**

In [0]:
def happiness_less_than_score(df,score):
  """Gathers the country names with happiness score less than specified."""
  if df.equals(df_2015):
    return df_2015['Country'][df_2015['Happiness Score'] < score]
  elif df.equals(df_2016):
    return df_2016['Country'][df_2016['Happiness Score'] < score]
  elif df.equals(df_2017):
    return df_2017['Country'][df_2017['Happiness.Score'] < score]

**Answer**

In [4]:
### Run this cell ###

result = happiness_less_than_score(df_2015,5.0)
print("In Year 2015: ")
print(result.tolist()) #pprint(result.tolist())
print()
result = happiness_less_than_score(df_2016,5.0)
print("In Year 2016: ")
print(result.tolist()) #pprint(result.tolist())
print()
result = happiness_less_than_score(df_2017,5.0)
print("In Year 2017: ")
print(result.tolist()) #pprint(result.tolist())

In Year 2015:
['Mozambique', 'Albania', 'Bosnia and Herzegovina', 'Lesotho', 'Dominican Republic', 'Laos', 'Mongolia', 'Swaziland', 'Greece', 'Lebanon', 'Hungary', 'Honduras', 'Tajikistan', 'Tunisia', 'Palestinian Territories', 'Bangladesh', 'Iran', 'Ukraine', 'Iraq', 'South Africa', 'Ghana', 'Zimbabwe', 'Liberia', 'India', 'Sudan', 'Haiti', 'Congo (Kinshasa)', 'Nepal', 'Ethiopia', 'Sierra Leone', 'Mauritania', 'Kenya', 'Djibouti', 'Armenia', 'Botswana', 'Myanmar', 'Georgia', 'Malawi', 'Sri Lanka', 'Cameroon', 'Bulgaria', 'Egypt', 'Yemen', 'Angola', 'Mali', 'Congo (Brazzaville)', 'Comoros', 'Uganda', 'Senegal', 'Gabon', 'Niger', 'Cambodia', 'Tanzania', 'Madagascar', 'Central African Republic', 'Chad', 'Guinea', 'Ivory Coast', 'Burkina Faso', 'Afghanistan', 'Rwanda', 'Benin', 'Syria', 'Burundi', 'Togo']

In Year 2016:
['Tajikistan', 'Mongolia', 'Laos', 'Nigeria', 'Honduras', 'Iran', 'Zambia', 'Nepal', 'Palestinian Territories', 'Albania', 'Bangladesh', 'Sierra Leone', 'Iraq', 'Namibia', 'Cameroon', 'Ethiopia', 'South Africa', 'Sri Lanka', 'India', 'Myanmar', 'Egypt', 'Armenia', 'Kenya', 'Ukraine', 'Ghana', 'Congo (Kinshasa)', 'Georgia', 'Congo (Brazzaville)', 'Senegal', 'Bulgaria', 'Mauritania', 'Zimbabwe', 'Malawi', 'Sudan', 'Gabon', 'Mali', 'Haiti', 'Botswana', 'Comoros', 'Ivory Coast', 'Cambodia', 'Angola', 'Niger', 'South Sudan', 'Chad', 'Burkina Faso', 'Uganda', 'Yemen', 'Madagascar', 'Tanzania', 'Liberia', 'Guinea', 'Rwanda', 'Benin', 'Afghanistan', 'Togo', 'Syria', 'Burundi']

In Year 2017:
['Nepal', 'Mongolia', 'South Africa', 'Tunisia', 'Palestinian Territories', 'Egypt', 'Bulgaria', 'Sierra Leone', 'Cameroon', 'Iran', 'Albania', 'Bangladesh', 'Namibia', 'Kenya', 'Mozambique', 'Myanmar', 'Senegal', 'Zambia', 'Iraq', 'Gabon', 'Ethiopia', 'Sri Lanka', 'Armenia', 'India', 'Mauritania', 'Congo (Brazzaville)', 'Georgia', 'Congo (Kinshasa)', 'Mali', 'Ivory Coast', 'Cambodia', 'Sudan', 'Ghana', 'Ukraine', 'Uganda', 'Burkina Faso', 'Niger', 'Malawi', 'Chad', 'Zimbabwe', 'Lesotho', 'Angola', 'Afghanistan', 'Botswana', 'Benin', 'Madagascar', 'Haiti', 'Yemen', 'South Sudan', 'Liberia', 'Guinea', 'Togo', 'Rwanda', 'Syria', 'Tanzania', 'Burundi', 'Central African Republic']

# Question 2

 **Which is the unhappiest country in Sub-Saharan Africa?**

In [0]:
def unhappiest_in_region(df,region):
  """ Finds the least happiness score in the specified region."""
  if df.equals(df_2015):
    df_temp = df_2015[df_2015['Region'] == region]
    return df_temp[df_temp['Happiness Score'] == df_temp['Happiness Score'].min()]
  elif df.equals(df_2016):
    df_temp = df_2016[df_2016['Region'] == region]
    return df_temp[df_temp['Happiness Score'] == df_temp['Happiness Score'].min()]
  elif df.equals(df_2017):
    # Since 2017 report doesn't contain regions they are explictly taken from the 2015 year's countries under that region.

    df_region_country =  df_2015['Country'][df_2015['Region'] == region].to_frame()
    df_temp = df_2017[df_2017['Country'].isin(df_region_country['Country'])]
    return df_temp[df_temp['Happiness.Score'] == df_temp['Happiness.Score'].min()]

**Answer:**

In [6]:
### Run this cell ###

result = unhappiest_in_region(df_2015,"Sub-Saharan Africa")
print("In Year 2015: ")
print(result['Country'].tolist()) 
print()
result = unhappiest_in_region(df_2016,"Sub-Saharan Africa")
print("In Year 2016: ")
print(result['Country'].tolist()) 
print()
result = unhappiest_in_region(df_2017,"Sub-Saharan Africa")
print("In Year 2017: ")
print(result['Country'].tolist())

In Year 2015:
['Togo']

In Year 2016:
['Burundi']

In Year 2017:
['Central African Republic']

# Question 3

3. Compare the Unhappiest and happiest countries in each region

In [0]:
def happiest_in_region(df,region):
  """ Finds the most happiness score in the specified region."""
  if df.equals(df_2015):
    df_temp = df_2015[df_2015['Region'] == region]
    return df_temp[df_temp['Happiness Score'] == df_temp['Happiness Score'].max()]
  elif df.equals(df_2016):
    df_temp = df_2016[df_2016['Region'] == region]
    return df_temp[df_temp['Happiness Score'] == df_temp['Happiness Score'].max()]
  elif df.equals(df_2017):
    # Since 2017 report doesn't contain regions they are explictly taken from the 2015 year's countries under that region.

    df_region_country =  df_2015['Country'][df_2015['Region'] == region].to_frame()
    df_temp = df_2017[df_2017['Country'].isin(df_region_country['Country'])]
    return df_temp[df_temp['Happiness.Score'] == df_temp['Happiness.Score'].max()]

**Answer**

In [8]:

## Run this cell ##

print('In the Year 2015 ')
for region in df_2015['Region'].unique():
  print()
  print(region )
  print()
  result = unhappiest_in_region(df_2015,region) #from question 2
  result1 = happiest_in_region(df_2015,region)
  display(result1.append(result))

print('In the Year 2016 ')
for region in df_2016['Region'].unique():
  print
  print(region )
  print()
  result = unhappiest_in_region(df_2016,region) #from question 2
  result1 = happiest_in_region(df_2016,region)
  display(result1.append(result))

print('In the Year 2017 ')
for region in df_2015['Region'].unique():
  print()
  print(region )
  print()
  result = unhappiest_in_region(df_2017,region) #from question 2
  result1 = happiest_in_region(df_2017,region)
  display(result1.append(result))

In the Year 2015

Western Europe

         Country          Region  ...  Generosity  Dystopia Residual
0    Switzerland  Western Europe  ...     0.29678            2.51738
101       Greece  Western Europe  ...     0.00000            1.80101

[2 rows x 12 columns]

North America

          Country         Region  ...  Generosity  Dystopia Residual
4          Canada  North America  ...     0.45811            2.45176
14  United States  North America  ...     0.40105            2.51011

[2 rows x 12 columns]

Australia and New Zealand

       Country                     Region  ...  Generosity  Dystopia Residual
8  New Zealand  Australia and New Zealand  ...     0.47501            2.26425
9    Australia  Australia and New Zealand  ...     0.43562            2.26646

[2 rows x 12 columns]

Middle East and Northern Africa

    Country                           Region  ...  Generosity  Dystopia Residual
10   Israel  Middle East and Northern Africa  ...     0.33172            3.08854
155   Syria  Middle East and Northern Africa  ...     0.47179            0.32858

[2 rows x 12 columns]

Latin America and Caribbean

        Country                       Region  ...  Generosity  Dystopia Residual
11   Costa Rica  Latin America and Caribbean  ...     0.25497            3.17728
118       Haiti  Latin America and Caribbean  ...     0.46187            2.24173

[2 rows x 12 columns]

Southeastern Asia

       Country             Region  ...  Generosity  Dystopia Residual
23   Singapore  Southeastern Asia  ...     0.31105            1.88501
144   Cambodia  Southeastern Asia  ...     0.40359            0.98195

[2 rows x 12 columns]

Central and Eastern Europe

            Country                      Region  ...  Generosity  Dystopia Residual
30   Czech Republic  Central and Eastern Europe  ...     0.10686            2.67782
133        Bulgaria  Central and Eastern Europe  ...     0.11921            0.89991

[2 rows x 12 columns]

Eastern Asia

     Country        Region  ...  Generosity  Dystopia Residual
37    Taiwan  Eastern Asia  ...     0.25376            2.32323
99  Mongolia  Eastern Asia  ...     0.33230            1.34759

[2 rows x 12 columns]

Sub-Saharan Africa

       Country              Region  ...  Generosity  Dystopia Residual
70   Mauritius  Sub-Saharan Africa  ...     0.37744            1.76145
157       Togo  Sub-Saharan Africa  ...     0.16681            1.56726

[2 rows x 12 columns]

Southern Asia

         Country         Region  ...  Generosity  Dystopia Residual
78        Bhutan  Southern Asia  ...     0.47998            1.63794
152  Afghanistan  Southern Asia  ...     0.36510            1.95210

[2 rows x 12 columns]

In the Year 2016
Western Europe

    Country          Region  ...  Generosity  Dystopia Residual
0   Denmark  Western Europe  ...     0.36171            2.73939
98   Greece  Western Europe  ...     0.00000            2.12944

[2 rows x 13 columns]

North America

          Country         Region  ...  Generosity  Dystopia Residual
5          Canada  North America  ...     0.44834            2.70485
12  United States  North America  ...     0.41077            2.72782

[2 rows x 13 columns]

Australia and New Zealand

       Country                     Region  ...  Generosity  Dystopia Residual
7  New Zealand  Australia and New Zealand  ...     0.49401            2.47553
8    Australia  Australia and New Zealand  ...     0.47407            2.54650

[2 rows x 13 columns]

Middle East and Northern Africa

    Country                           Region  ...  Generosity  Dystopia Residual
10   Israel  Middle East and Northern Africa  ...     0.32288            3.31029
155   Syria  Middle East and Northern Africa  ...     0.48397            0.81789

[2 rows x 13 columns]

Latin America and Caribbean

        Country                       Region  ...  Generosity  Dystopia Residual
13   Costa Rica  Latin America and Caribbean  ...     0.22553            3.35168
135       Haiti  Latin America and Caribbean  ...     0.47958            2.37116

[2 rows x 13 columns]

Southeastern Asia

       Country             Region  ...  Generosity  Dystopia Residual
21   Singapore  Southeastern Asia  ...     0.32706            1.99375
139   Cambodia  Southeastern Asia  ...     0.40339            1.31573

[2 rows x 13 columns]

Central and Eastern Europe

            Country                      Region  ...  Generosity  Dystopia Residual
26   Czech Republic  Central and Eastern Europe  ...     0.09929            2.96211
128        Bulgaria  Central and Eastern Europe  ...     0.12793            1.15377

[2 rows x 13 columns]

Eastern Asia

      Country        Region  ...  Generosity  Dystopia Residual
34     Taiwan  Eastern Asia  ...     0.25495            2.61523
100  Mongolia  Eastern Asia  ...     0.34539            1.53586

[2 rows x 13 columns]

Sub-Saharan Africa

       Country              Region  ...  Generosity  Dystopia Residual
65   Mauritius  Sub-Saharan Africa  ...     0.36951            2.20223
156    Burundi  Sub-Saharan Africa  ...     0.20290            2.10404

[2 rows x 13 columns]

Southern Asia

         Country         Region  ...  Generosity  Dystopia Residual
83        Bhutan  Southern Asia  ...     0.48546            1.82916
153  Afghanistan  Southern Asia  ...     0.31268            2.14558

[2 rows x 13 columns]

In the Year 2017

Western Europe

     Country  Happiness.Rank  ...  Trust..Government.Corruption.  Dystopia.Residual
0     Norway               1  ...                       0.315964           2.277027
88  Portugal              89  ...                       0.015869           1.107683

[2 rows x 12 columns]

North America

          Country  ...  Dystopia.Residual
6          Canada  ...           2.187264
13  United States  ...           2.218113

[2 rows x 12 columns]

Australia and New Zealand

       Country  ...  Dystopia.Residual
7  New Zealand  ...           2.046456
9    Australia  ...           2.065211

[2 rows x 12 columns]

Middle East and Northern Africa

    Country  Happiness.Rank  ...  Trust..Government.Corruption.  Dystopia.Residual
10   Israel              11  ...                       0.085242           2.801757
151   Syria             152  ...                       0.151347           1.061574

[2 rows x 12 columns]

Latin America and Caribbean

        Country  ...  Dystopia.Residual
11   Costa Rica  ...           2.898639
144       Haiti  ...           1.697168

[2 rows x 12 columns]

Southeastern Asia

       Country  ...  Dystopia.Residual
25   Singapore  ...           1.216362
128   Cambodia  ...           1.042941

[2 rows x 12 columns]

Central and Eastern Europe

            Country  ...  Dystopia.Residual
22   Czech Republic  ...           2.451862
131         Ukraine  ...           0.814382

[2 rows x 12 columns]

Eastern Asia

     Country  Happiness.Rank  ...  Trust..Government.Corruption.  Dystopia.Residual
50     Japan              51  ...                       0.163761           1.363224
99  Mongolia             100  ...                       0.032902           1.111292

[2 rows x 12 columns]

Sub-Saharan Africa

                      Country  ...  Dystopia.Residual
63                  Mauritius  ...           1.697584
154  Central African Republic  ...           2.066005

[2 rows x 12 columns]

Southern Asia

         Country  ...  Dystopia.Residual
79      Pakistan  ...           2.792489
140  Afghanistan  ...           2.150801

[2 rows x 12 columns]

# Question 4

**4.Countries that became unhappy between 2015 to 2017** 

Happiness Score

A metric measured in 2015 by asking the sampled people the question: "How would you rate your happiness on a scale of 0 to 10 where 10 is the happiest."

As per the Metric, All the countries above 5 are considered to be "happy" and all the countries below the score of 5 are considered to be "unhappy".

In [0]:
def happiness_more_than_score(df,score):
  """Gathers the country names with happiness score greater than specified."""
  
  if df.equals(df_2015):
    return df_2015['Country'][df_2015['Happiness Score'] > score]
  elif df.equals(df_2016):
    return df_2016['Country'][df_2016['Happiness Score'] > score]
  elif df.equals(df_2017):
    return df_2017['Country'][df_2017['Happiness.Score'] > score]

**Answer**

In [10]:
## Run this cell ##

df_happy = happiness_more_than_score(df_2015,5).to_frame()
df_unhappy = happiness_less_than_score(df_2017,5).to_frame() #from Question 1

display(df_unhappy[df_unhappy['Country'].isin(df_happy['Country'])])

    Country
115  Zambia

# Question 5

5. Find the country whose happiness decreased by the most amount

**Answer**

In [11]:
## Run this cell ##

df_before = df_2015[['Country','Happiness Score']]
df_after = df_2017[['Country','Happiness.Score']]
df_merge = pd.merge(df_before,df_after, on='Country')
df_merge['difference'] = df_merge['Happiness.Score'] - df_merge['Happiness Score']
display(df_merge[df_merge['difference'] == df_merge['difference'].min()])

      Country  Happiness Score  Happiness.Score  difference
21  Venezuela             6.81             5.25       -1.56

#Task 2

In the same notebook write the script to download â€‹UDF101â€‹ and
bring the training dataset in this format: (Labels can be downloaded
from â€‹hereâ€‹)

In [12]:
!pip install pyunpack
!pip install patool
!pip install clint

Requirement already satisfied: pyunpack in /usr/local/lib/python3.6/dist-packages (0.2.1)
Requirement already satisfied: easyprocess in /usr/local/lib/python3.6/dist-packages (from pyunpack) (0.3)
Requirement already satisfied: entrypoint2 in /usr/local/lib/python3.6/dist-packages (from pyunpack) (0.2.1)
Requirement already satisfied: argparse in /usr/local/lib/python3.6/dist-packages (from entrypoint2->pyunpack) (1.4.0)
Requirement already satisfied: patool in /usr/local/lib/python3.6/dist-packages (1.12)
Requirement already satisfied: clint in /usr/local/lib/python3.6/dist-packages (0.5.1)
Requirement already satisfied: args in /usr/local/lib/python3.6/dist-packages (from clint) (0.1.0)

Importing and Downloading the files

In [13]:
import os
import requests
from tqdm.auto import tqdm
from pyunpack import Archive
from clint.textui import progress
import shutil

labels_url = "https://www.crcv.ucf.edu/data/UCF101/UCF101TrainTestSplits-RecognitionTask.zip"
data_url = "https://www.crcv.ucf.edu/data/UCF101/UCF101.rar"


os.chdir('/content')

# labels file zip download
r = requests.get(labels_url, stream=True)
file_name = labels_url.split('/')[-1]
with tqdm.wrapattr(open(file_name, "wb"), "write", miniters=1,
                   total=int(r.headers.get('content-length', 0)),
                   desc=file_name) as fout:
    for chunk in r.iter_content(chunk_size=4096):
        fout.write(chunk)

os.chdir('/content')

# data file zip download
r = requests.get(data_url, stream=True)
file_name = data_url.split('/')[-1]
with tqdm.wrapattr(open(file_name, "wb"), "write", miniters=1,
                   total=int(r.headers.get('content-length', 0)),
                   desc=file_name) as fout:
    for chunk in r.iter_content(chunk_size=4096):
        fout.write(chunk)

HBox(children=(FloatProgress(value=0.0, description='UCF101TrainTestSplits-RecognitionTask.zip', max=113943.0,â€¦

HBox(children=(FloatProgress(value=0.0, description='UCF101.rar', max=6932971618.0, style=ProgressStyle(descriâ€¦

In [14]:
try:
  Archive('UCF101.rar').extractall('/content')
except Exception:
  print('The error is due to inconsistency in the rar to patool extractor The contents are safely extracted.')

The error is due to inconsistency in the rar to patool extractor The contents are safely extracted.

In [0]:
try:
  Archive('UCF101TrainTestSplits-RecognitionTask.zip').extractall('/content')
except Exception:
  print('The error is due to inconsistency in the rar to patool extractor The contents are safely extracted.')

In [16]:

os.chdir('/content/ucfTrainTestlist')
ucf_file_list = os.listdir()
ucf_temp = ucf_file_list[0:-1]

#Finding the names of the actions 
with open(ucf_file_list[-1],'r') as f:
  names = []
  for file in f:
    res = "".join(filter(lambda x: not x.isdigit(), file))
    names.append(res.strip().replace('\n',''))
#Root directory in content folder of the notebook
os.chdir('/content')
os.mkdir('ucf101_result')

#Creating the subfolders of train and test 
os.chdir('/content/ucf101_result')
for subroot in ucf_temp:
  subrootname,subrootextension = os.path.splitext(subroot)
  os.mkdir(subrootname)

#Creating names of actions in every train and test folders
os.chdir('/content/ucf101_result')
for subroot in ucf_temp:
  subrootname,subrootextension = os.path.splitext(subroot)
  os.chdir('/content/ucf101_result/'+subrootname)
  for name in names:
    os.mkdir(name)

print("File manipulation started... ")
#Loopoing through the videos of UCF-101 to compare with video in the Labels
for name in names:
  os.chdir('/content/UCF-101/' + name)
  videos = os.listdir()
  for video in videos: # video in the UCF-101
    for subroot in ucf_temp:
      os.chdir('/content/ucfTrainTestlist')
      subrootname,subrootextension = os.path.splitext(subroot)
      with open(subroot,'r') as f:
        for filepath in f:
          filename = filepath.split('/')[-1].strip()
          if( filename == video): # Comparison 
            shutil.move('/content/UCF-101/'+name+'/'+video,'/content/ucf101_result/'+subrootname+'/'+name)



print("File manipulation complete.")

File manipulation started...
File manipulation complete.